* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://source.unsplash.com/1920x1080/?landscape');
    background-size: cover;
    display: flex;
    justify-content: center; /*Alinhamento Horizontal*/
    align-items: center; /*Alinhamento Vertical*/
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out; /*Efeito de transição para que quando eu passar o mouse 
                                            sobre o botão ele demore 0.5 segundos para aplicar o hover*/
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #A200FF ;
}

#paper {
    background-color: #9EE01A;
}

#scissors {
    background-color: #7DBEED;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(65, 114, 199);
}

.machine-score span {
    color: rgb(224, 71, 15) ;
}
