/* 
Pseudo Classes 
    :active - quando o elemento está ativo, ou seja, está sendo pressionado
    :visited - seleciona o link que foi visitado
    :hover - quando o mouse passa em cima do elemento
    :checked - usado em radio / checkout / select
    :disabled - emento desabilitado button / input
    :enabled - elemento está habilitado
    :focus - é aplicada quando um elemento recebe o foco, o que pode ocorrer quando o usuário seleciona o elemento
    :read-only - seleciona o input ou textarea que são apenas leitura
    :empty - elemento que não tem filho

    :first-child - primeiro filho / ex: primeira li de uma ul / primeiro span de uma div
    :first-of-type - primeiro elemento de seu tipo entre os filhos do seu elemento pai
    :last-child - último filho
    :last-of-type - último elemnto de seu tipo entre os filhos de seu pai
    :not() - estiliza os elemento, exceto o que está dentro do ()
    :nth-child() - seleciona o elemento baseado na sua posição / ex: :nth-child(3)
    :nth-last-child() - seleciona o elemento baseado na sua posição, contando de trás para frente
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active:active {
    color: red;
}

.visited:visited {
    color:green;
}

.hover:hover {
    color: black;
}

.checked:checked {
    width: 100px;
    height: 100px;
}

.disable:disabled {
    width: 100px;
    height: 100px;
}

.focus:focus {
    border: 1px solid red;
    outline: none; 
}

.read-only:read-only {
    border: 1px solid blue;
    outline: none;
}

.container {        /*Ficará vermelho quando tiver conteúdo dentro da div*/
    height: 100px;
    width: 100px;
    background: red;  
}

.container:empty {
    background: blue;       /*Ficará azul quando não tiver nada dentro da div*/
}

.first-child:first-child {
    color: red;
}

span:first-of-type {
    color: blueviolet;
}

p:first-of-type {
    color: brown;
}

p:last-of-type {
    color: grey;
}

.container2:not(a) {        /*Nesse caso estilizaria tudo dentro da div na cor pink, exceto o link*/
    color: pink;
}

.nth-child:nth-child(4){
    color: palevioletred;
}